# Format Style Options - Created with Clang Power Tools
---
AlignAfterOpenBracket: Align 
AlignConsecutiveAssignments: AcrossComments 
AlignConsecutiveDeclarations: AcrossComments 
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: Always
AlignArrayOfStructures: Left
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BasedOnStyle: WebKit
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
ColumnLimit: 80
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
Language: Cpp
ReflowComments: true
SortIncludes: false
...
